<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3X4iqHhx80OUqhX76C5Ei92Mw0FTYiPA</string>
	<key>GCM_SENDER_ID</key>
	<string>381019962175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dg.farist.appslovo</string>
	<key>PROJECT_ID</key>
	<string>appslovo-1fe64</string>
	<key>STORAGE_BUCKET</key>
	<string>appslovo-1fe64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381019962175:ios:f6f434ee6b7c7c4888b18a</string>
</dict>
</plist>